altgraph
annotated-types
anyio
asgiref
blis
catalogue
certifi
cffi
chardet
charset-normalizer
click
cloudpathlib
colorama
confection
contourpy
cryptography
cycler
cymem
datefinder
et_xmlfile
fastapi
filelock
fonttools
fsspec
h11
huggingface-hub
idna
Jinja2
kiwisolver
langcodes
language_data
macholib
marisa-trie
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
murmurhash
networkx
numpy
openpyxl
packaging
pandas
pdfminer.six
pdfplumber
pefile
pillow
preshed
pycparser
pydantic
pydantic_core
Pygments
pyinstaller
pyinstaller-hooks-contrib
PyMuPDF
pyparsing
pypdf
PyPDF2
pypdfium2
python-dateutil
python-multipart
pytz
pywin32-ctypes
PyYAML
regex
reportlab
requests
rich
safetensors
shellingham
six
smart-open
sniffio
spacy
spacy-legacy
spacy-loggers
sqlparse
srsly
starlette
sympy
thinc
tokenizers
torch
torchvision
tqdm
transformers
typer
typing_extensions
tzdata
urllib3
uvicorn
wasabi
weasel
wrapt
XlsxWriter
psutil
paddleocr
paddlepaddle
opencv-python
